*{
    font-family: Arial;
    
}
.order{
    max-width: 400px;
    padding: 5px 20px;
    margin: 0 auto ;
    position: relative;
    z-index:1;
    overflow:hidden;
    border-radius:10px;
}
fieldset{
    border-radius:10px;
}
.order:before{
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    content: url('../img/2.jpg');
    opacity:0.3;
}
label, p{
    margin-top: 5px;
    width: 90px;
    text-align: right;
    display: inline-block;
}
.btnholder{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
input, select, textarea{
    border-radius:5px;
}

/* стащил красивые кнопки )) */
#submitBtn {
    display: inline-block;
    color: black;
    font-size: 100%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(250,172,17);
    border-radius: 7px;
    background: rgb(3, 255, 221) linear-gradient(rgb(230, 255, 3), rgb(207, 248, 23));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    transition: box-shadow .2s, border-color .2s;
} 
#submitBtn:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
#submitBtn:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(177,159,0,1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

#resetBtn {
    display: inline-block;
    color: black;
    font-size: 100%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(250,172,17);
    border-radius: 7px;
    background: rgb(255,212,3) linear-gradient(rgb(255, 213, 1), rgb(248, 68, 23));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    transition: box-shadow .2s, border-color .2s;
} 
#resetBtn:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
#resetBtn:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(177,159,0,1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}